name: Build & Publish Docker images

on:
  push:
    tags:
      - '*'
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  px4-dev-base-archlinux:
    name: "Arch Linux Base"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-base-archlinux
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-base-archlinux
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_base-archlinux
        cache: false
        tag_names: true

  px4-dev-base-bionic:
    name: "Ubuntu Bionic Base"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-base-bionic
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-base-bionic
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_base-bionic
        cache: false
        tag_names: true

  px4-dev-armhf:
    name: "Debian armhf"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-armhf
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-armhf
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_armhf
        cache: false
        tag_names: true

  px4-dev-clang:
    name: "Ubuntu Clang"
    runs-on: ubuntu-latest
    needs: px4-dev-base-bionic
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-clang
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-clang
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_clang
        cache: false
        tag_names: true

  px4-dev-nuttx-clang:
    name: "Ubuntu NuttX Clang"
    runs-on: ubuntu-latest
    needs: px4-dev-clang
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-nuttx-clang
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-nuttx-clang
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_nuttx_clang
        cache: false
        tag_names: true

  px4-dev-nuttx-bionic:
    name: "NuttX in Ubuntu Bionic"
    runs-on: ubuntu-latest
    needs: px4-dev-base-bionic
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-nuttx-bionic
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-nuttx-bionic
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_nuttx-bionic
        cache: false
        tag_names: true

  px4-dev-raspi:
    name: "Ubuntu Raspberry Pi"
    runs-on: ubuntu-latest
    needs: px4-dev-base-bionic
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-raspi
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-raspi
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_raspi
        cache: false
        tag_names: true

  px4-dev-simulation-bionic:
    name: "Ubuntu Bionic Simulation"
    runs-on: ubuntu-latest
    needs: px4-dev-base-bionic
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-simulation-bionic
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-simulation-bionic
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_simulation-bionic
        cache: false
        tag_names: true

  px4-dev-ros-melodic:
    name: "Ubuntu ROS Melodic"
    runs-on: ubuntu-latest
    needs: px4-dev-simulation-bionic
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-ros-melodic
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-ros-melodic
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_ros-melodic
        cache: false
        tag_names: true

  px4-dev-ros2-bouncy:
    name: "Ubuntu ROS2 Bouncy"
    runs-on: ubuntu-latest
    needs: px4-dev-ros-melodic
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-ros2-bouncy
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-ros2-bouncy
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_ros2-bouncy
        cache: false
        tag_names: true

  px4-dev-ros2-crystal:
    name: "Ubuntu ROS2 Crystal"
    runs-on: ubuntu-latest
    needs: px4-dev-ros-melodic
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-ros2-crystal
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-ros2-crystal
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_ros2-crystal
        cache: false
        tag_names: true

  px4-dev-ros2-dashing:
    name: "Ubuntu ROS2 Dashing"
    runs-on: ubuntu-latest
    needs: px4-dev-ros-melodic
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-ros2-dashing
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-ros2-dashing
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_ros2-dashing
        cache: false
        tag_names: true

  px4-dev-ros2-eloquent:
    name: "Ubuntu ROS2 Eloquent"
    runs-on: ubuntu-latest
    needs: px4-dev-ros-melodic
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-ros2-eloquent
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-ros2-eloquent
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_ros2-eloquent
        cache: false
        tag_names: true

  px4-dev-base-focal:
    name: "Ubuntu Focal Base"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-base-focal
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-base-focal
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_base-focal
        cache: false
        tag_names: true

  px4-dev-nuttx-focal:
    name: "NuttX in Ubuntu Focal"
    runs-on: ubuntu-latest
    needs: px4-dev-base-focal
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-nuttx-focal
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-nuttx-focal
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_nuttx-focal
        cache: false
        tag_names: true

  px4-dev-simulation-focal:
    name: "Ubuntu Focal Simulation"
    runs-on: ubuntu-latest
    needs: px4-dev-base-focal
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-simulation-focal
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-simulation-focal
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_simulation-focal
        cache: false
        tag_names: true

  px4-dev-ros-noetic:
    name: "Ubuntu ROS Noetic"
    runs-on: ubuntu-latest
    needs: px4-dev-simulation-focal
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-ros-noetic
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-ros-noetic
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_ros-noetic
        cache: false
        tag_names: true

  px4-dev-ros2-foxy:
    name: "Ubuntu ROS2 Foxy"
    runs-on: ubuntu-latest
    needs: px4-dev-ros-noetic
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-ros2-foxy
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-ros2-foxy
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_ros2-foxy
        cache: false
        tag_names: true

  px4-dev-base-xenial:
    name: "Ubuntu Xenial Base"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-base-xenial
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-base-xenial
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_base-xenial
        cache: false
        tag_names: true

  px4-dev-simulation-xenial:
    name: "Ubuntu Xenial Simulation"
    runs-on: ubuntu-latest
    needs: px4-dev-base-xenial
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-simulation-xenial
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-simulation-xenial
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_simulation-xenial
        cache: false
        tag_names: true

  px4-dev-ros-kinetic:
    name: "Ubuntu ROS Kinetic"
    runs-on: ubuntu-latest
    needs: px4-dev-simulation-xenial
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-ros-kinetic
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-ros-kinetic
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_ros-kinetic
        cache: false
        tag_names: true

  px4-dev-ros2-ardent:
    name: "Ubuntu ROS2 Ardent"
    runs-on: ubuntu-latest
    needs: px4-dev-ros-kinetic
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-dev-ros2-ardent
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-ros2-ardent
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_ros2-ardent
        cache: false
        tag_names: true

  px4-docs:
    name: "Ubuntu Docs"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build container
      if: github.event_name == 'pull_request'
      run: |
        cd docker
        make px4-docs
    - name: Build & Publish container
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-docs
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_docs
        cache: false
        tag_names: true
