name: Build Docker images

on:
  push:
    tags:
    - '*'

jobs:
  px4-dev-base-archlinux:
    name: "Arch Linux Base"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-base-archlinux
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_base-archlinux
        context: docker
        cache: false
        tag_names: true

  px4-dev-base-bionic:
    name: "Ubuntu Bionic Base"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-base-bionic
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_base-bionic
        context: docker
        cache: false
        tag_names: true

  px4-dev-armhf:
    name: "Debian armhf"
    runs-on: ubuntu-latest
    needs: px4-dev-base-bionic
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-armhf
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_armhf
        context: docker
        cache: false
        tag_names: true

  px4-dev-clang:
    name: "Ubuntu Clang"
    runs-on: ubuntu-latest
    needs: px4-dev-base-bionic
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-clang
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_clang
        context: docker
        cache: false
        tag_names: true

  px4-dev-nuttx-clang:
    name: "Ubuntu NuttX Clang"
    runs-on: ubuntu-latest
    needs: px4-dev-clang
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-nuttx-clang
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_nuttx_clang
        context: docker
        cache: false
        tag_names: true

  px4-dev-nuttx:
    name: "Ubuntu NuttX"
    runs-on: ubuntu-latest
    needs: px4-dev-base-bionic
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-nuttx
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_nuttx
        context: docker
        cache: false
        tag_names: true

  px4-dev-raspi:
    name: "Ubuntu Raspberry Pi"
    runs-on: ubuntu-latest
    needs: px4-dev-base-bionic
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-raspi
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_raspi
        context: docker
        cache: false
        tag_names: true

  px4-dev-simulation-bionic:
    name: "Ubuntu Bionic Simulation"
    runs-on: ubuntu-latest
    needs: px4-dev-base-bionic
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-simulation-bionic
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_simulation-bionic
        context: docker
        cache: false
        tag_names: true

  px4-dev-ros-melodic:
    name: "Ubuntu ROS Melodic"
    runs-on: ubuntu-latest
    needs: px4-dev-simulation-bionic
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-ros-melodic
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_ros-melodic
        context: docker
        cache: false
        tag_names: true

  px4-dev-ros2-bouncy:
    name: "Ubuntu ROS2 Bouncy"
    runs-on: ubuntu-latest
    needs: px4-dev-ros-melodic
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-ros2-bouncy
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_ros2-bouncy
        context: docker
        cache: false
        tag_names: true

  px4-dev-ros2-crystal:
    name: "Ubuntu ROS2 Crystal"
    runs-on: ubuntu-latest
    needs: px4-dev-ros-melodic
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-ros2-crystal
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_ros2-crystal
        context: docker
        cache: false
        tag_names: true

  px4-dev-ros2-dashing:
    name: "Ubuntu ROS2 Dashing"
    runs-on: ubuntu-latest
    needs: px4-dev-ros-melodic
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-ros2-dashing
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_ros2-dashing
        context: docker
        cache: false
        tag_names: true

  px4-dev-ros2-eloquent:
    name: "Ubuntu ROS2 Eloquent"
    runs-on: ubuntu-latest
    needs: px4-dev-ros-melodic
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-ros2-eloquent
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_ros2-eloquent
        context: docker
        cache: false
        tag_names: true

  px4-dev-base-xenial:
    name: "Ubuntu Xenial Base"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-base-xenial
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_base-xenial
        context: docker
        cache: false
        tag_names: true

  px4-dev-simulation-xenial:
    name: "Ubuntu Xenial Simulation"
    runs-on: ubuntu-latest
    needs: px4-dev-base-xenial
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-simulation-xenial
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_simulation-xenial
        context: docker
        cache: false
        tag_names: true

  px4-dev-ros-kinetic:
    name: "Ubuntu ROS Kinetic"
    runs-on: ubuntu-latest
    needs: px4-dev-simulation-xenial
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-ros-kinetic
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_ros-kinetic
        context: docker
        cache: false
        tag_names: true

  px4-dev-ros2-ardent:
    name: "Ubuntu ROS2 Ardent"
    runs-on: ubuntu-latest
    needs: px4-dev-ros-kinetic
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-dev-ros2-ardent
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_ros2-ardent
        context: docker
        cache: false
        tag_names: true

  px4-docs:
    name: "Ubuntu Docs"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: julianoes/Publish-Docker-Github-Action@master
      with:
        name: px4io/px4-docs
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile_docs
        context: docker
        cache: false
        tag_names: true
